@layer reset {
  html {
    font-synthesis: none;
  }
}

@import "tailwindcss";
@plugin "@tailwindcss/typography";

@view-transition {
  navigation: auto;
}

body {
  background-color: #000;
  color: #fafafa;
  font-family: var(--font-serif);
  font-synthesis: none;
}

.title {
  view-transition-name: title;
}

.prose {
  hanging-punctuation: first;
}

/* .stylized {
  font-feature-settings: "swsh";
  font-feature-settings: "dlig";
} */
