---
import "../styles/global.css"
---

<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Lachlan Campbell" />
    <meta property="og:url" content="https://lachlanjc.com/" />
    <meta name="twitter:site" content="@lachlanjc" />
    <title>Lachlan’s ABCs of Consumerism</title>
    <meta property="og:title" content="Lachlan Campbell – @lachlanjc" />
    <meta name="twitter:title" content="Lachlan Campbell – @lachlanjc" />
    <link
      rel="icon"
      href="https://github.com/lachlanjc.png"
      type="image/png"
      sizes="any"
    />
    <link
      rel="apple-touch-icon"
      href="https://github.com/lachlanjc.png"
      type="image/png"
      sizes="180x180"
    />
  </head>
  <body>
    <main class="container mx-auto max-w-xl py-12 px-4">
      <slot />
    </main>
  </body>
</html>
